
%label {
	--lwc-formLabelFontSize: 10px;
	--lwc-colorTextLabel: rgba(126, 126, 126, 0.75);
	color: rgba(126, 126, 126, 0.75);
	font-size: 10px		;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 12px;
	text-transform: uppercase;
}